[submodule "frontend"]
	path = frontend
	url = https://github.com/notherealmarco/overLinks-frontend.git
[submodule "telegram"]
	path = telegram
	url = https://github.com/notherealmarco/overLinks-telegram
